# Server Configuration
PORT=3000
RAPID_API_KEY=
RAPID_API_HOST=
BASE_URL=
YAHOO_URL=

# RapidAPI Credentials (Optional - only needed for real Yahoo Finance API)
# Get your credentials at: https://rapidapi.com
# RAPID_API_KEY=your_api_key_here
# RAPID_API_HOST=apidojo-yahoo-finance-v1.p.rapidapi.com
