.table-wrapper {
  padding: 50px;
}

table {
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.mat-form-field {
  font-size: 14px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

tr.mat-row {
  cursor: pointer;

  &:hover {
    background: darken(#f4f5ff, 5%);
  }
}
